{% extends 'base.html.twig' %}
{% block body %}
	<div class="row" id="rowModal">
		<!-- Task modal -->
		<div class="modal fade" id="divModalCreate" tabindex="-1" role="dialog" aria-labelledby="createModal"
			 aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header" style="background-color:#58b99d">
						<h5 class="modal-title text-light" id="createModal">Add your Task</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
						{{ form_start(form) }}
							<div class="modal-body">
								<p  class="small text-danger" id="createError">&nbsp;</p>
								{{ form_widget(form) }}
							</div>
						{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>

    <div class="row">
        <div class="col-md-5 col-lg-4 mx-auto mt-md-3 bg-light rounded" >
			<div class="row justify-content-between py-2" style="background-color:#58b99d">
				<div class="col text-left">
					<a href="{{ path('homepage')}}" class="h2 text-light">Todolist</a>
				</div>
				<div class="col text-right">
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}

						<img width="36" height="36" id="exitIcon" class="mr-4" src="{{ asset('img/exitIcon.png') }}">

						<img width="36" height="36" id="plusIcon" src="{{ asset('img/plusIcon.png') }}" alt="">

					{% else %}

						<img width="36" height="36" id="loginIcon" src="{{ asset('img/accountIcon.png') }}" alt="">
					{% endif %}
					
				</div>
			</div>

			<div class="row mb-5" id="mainContainer">
				{% if not is_granted('IS_AUTHENTICATED_FULLY') %}

					<p class="mt-1 px-1 mx-auto lead">Click in the icon above to log in!</p>
				{% elseif tasks is empty%}

					<p class="mt-1 px-2 mx-auto lead">Welcome, click in the plus icon above to add some tasks!</p>
				{% else %}

					<ul class=" col-12 list-group list-group-striped p-0 pb-5">
						{% for task in tasks %}
							<li class="list-group-item d-flex rounded-0">

								<div class="col d-inline">
									<td>{{ task.description }}</td>
								</div>

								<div class="col-2 d-inline">
								{% if task.completed == 1 %}
									<img id="{{ task.id }}" class="imgCheck" width="36" src="{{ asset('img/checkIcon.png') }}">
								{% else %}
									<img id="{{ task.id }}" class="imgCheck" width="36" src="{{ asset('img/uncheckIcon.png') }}">
								{% endif %}
								</div>

							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
        </div>
    </div>


{% endblock %}